<section>
  <!-- {{printf "%#v" .Site.Taxonomies}} -->
  <ul id="all-taxonomies">
    {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
      <!-- Term: {{ (printf "/%s" $taxonomy_term) }} -->
      <!-- Get a page of given type -->
      {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
        <div class="tag is-large">
          <a href="{{ .Permalink }}">{{ $taxonomy_term }}</a>
        </div>
        {{ range $key, $value := $taxonomy }}
          <div>
            {{$url := absURL (printf "%s/%s" $taxonomy_term $key)}}
            <a class="button is-text" href="{{$url}}">{{$key | humanize}}</a>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</section>

<!--
%v	the value in a default format
	when printing structs, the plus flag (%+v) adds field names
%#v	a Go-syntax representation of the value
%T	a Go-syntax representation of the type of the value
%%	a literal percent sign; consumes no value -->
